body {
    background-color: #7392D1
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.playerAndcomputer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.player {
    margin: 1em;
}
.computer {
    margin: 1em;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
#rock {
    margin: 1em;
}
#paper {
    margin: 1em;
}
#scissors {
    margin: 1em;
}